/* Definitions for standard componenets */
body {
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 12px;
    color: #666666;
    background: #ffffff;
}
h1 {
    float: right;
    margin-top: 7px;
    padding-right: 15px;
}
a {
    text-decoration: none;
    color: #003377
}
a:hover {
    color: black;
}

/* Definitions used by the page layout */
.hidden {
    display: none;
}

#page-container {
    width: 760px;
    margin: auto;
}

#main-nav {
    background: black;
    height: 30px;
}

#header {
    height: 150px;
    background: #224422
    url(/images/layout/banner.jpg);
}

#sidebar-a {
    float: right;
    width: 280px;
    line-height: 18px;
}
 
#sidebar-a  .padding{
     padding: 25px;
}

#sidebar-a h2 {
    padding-bottom: 5px;
    padding-top: 10px;
}

#content {
    margin-right: 280px;
    line-height: 18px;
}

#content  .padding{
     padding: 25px;
}

#content h2 {
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: large;
}

#content p {
    padding-bottom: 15px;
}

#footer {
    clear: both;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 10px;
    color: #c9c9c9;
    border-top: 1px solid #efefef;
    padding: 13px 25px;
    line-height: 18px;
}

#footer #altnav {
    width: 350px;
    float: right;
    text-align: right;
}

/* definitions for posts */
img.floatleft { 
    float: left; 
    margin: 5px; 
}

.post {
    overflow: auto;
}

.post img {
    margin: 5px;
    border: 1px solid black;
}
