/* Definitions used by the page layout */
.header {
    height: 150px;
    background: #224422
    url(/images/layout/banner.png);
    background-repeat: round;
}
h1 {
    float: right;
    margin-top: 7px;
    padding-right: 15px;
}
