---
layout: default
---
<div class="row-fluid post">
    <h2> {{ page.title }} </h2>
    <div class="row">
        <div class="col byline">{{ page.date | date_to_long_string }}</div>
    </div>

    <div class="row">
        <div class="col">
            {{ content }}
        </div>
    </div>

    {% if page.previous or page.next %}
        <div class="row">
            <div class="col">
                {% if page.previous %}
                    <a href="{{ page.previous.url }}">Previous</a>
                {% endif %}
            </div>
            <div class="col-10"> </div>
            <div class="col">
                {% if page.next %}
                    <a href="{{ page.next.url }}">Next</a>
                {% endif %}
            </div>
        </div>
  {% endif %}
</div>
